
.navbar{
    background-color: lavender !important;
    
}

nav{
    height: 70px;
}

li a {
    color: blueviolet !important;
}
li a:hover{
    background-color: beige;
    color: blueviolet;
}

.navbar-toggler{
    background-color: beige;
}

.navbar-brand img{
    width: 50px;
}

.content{
    height: 628px;
    margin-top: 70px;
}

.footer{
    height: 70px;
    background-color: lavender !important;
}